.navbar-brand {
    color: #0dcaf0;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Habanera Rounded';
    text-transform: uppercase;
}

.navbar-nav .nav-link {
    color: #292929;
    font-weight: 500;
    font-size: 1.1rem;
    margin-right: 10px;
}