{% extends 'base.html' %}


{% block content %}
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="p-5">
                    <h4>
                        {{current_user.is_staff}}
                    </h4>
                    <p class="pt-2 pb-5">
                        Cillum eu ex aute magna amet exercitation ut ex.
                        Ad eiusmod officia velit quis laboris qui Lorem laboris exercitation adipisicing.
                        Sunt elit velit ad aute elit sunt sunt sint adipisicing reprehenderit.
                        Ipsum aute fugiat qui velit irure tempor.
                    </p>
                    <div>
                        <a href="#" class=" d-grid col-6 shadow btn btn-lg btn-block btn-info rounded-pill">
                            View Projects 
                        </a>
                    </div>
                </div>
                </div>
                <div class="col-12 col-md-6">
                    <div>
                        <img src="{{url_for('static',filename='images/project1.jpg')}}" alt="" class="img-fluid shadow-lg" />
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}