{% extends 'base.html' %}


{% block content %}
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <div>
                    <h1>Welcome to Admin Dashboard </h1>
                    <p>This admin dashboard was created from scratch.
                        You can perform all administrative task from here.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 align-items-center my-2">
                <a href="{{url_for('users')}}" class="border p-3 rounded d-flex">
                    <i class="icofont icofont-2x icofont-users-alt-1 icofont-pull-left text-secondary  pt-3"></i>
                    <div>
                        <h3 class="h4">Users</h3>
                        <p>View, Delete users </p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 align-items-center my-2">
                <a href="{{url_for('new_project')}}" class="border p-3 rounded d-flex">
                    <i class="icofont icofont-2x icofont-briefcase-1 icofont-pull-left text-info pt-3"></i>
                    <div class="pl-4">
                        <h3 class="h4">Projects</h3>
                        <p>Add, Delete, Update projects </p>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-4 align-items-center my-2">
                <a href="{{url_for('all_feedback')}}" class="border p-3 rounded d-flex">
                    <i class="icofont icofont-2x icofont-users-alt-1 icofont-pull-left text-secondary  pt-3"></i>
                    <div>
                        <h3 class="h4">Feedback</h3>
                        <p>View all feedbacks </p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 align-items-center my-2">
                <a href="{{url_for('faq')}}" class="border p-3 rounded d-flex">
                    <i class="icofont icofont-2x icofont-question-circle icofont-pull-left text-secondary pt-3"></i>
                    <div class="pl-4">
                        <h3 class="h4">FAQ</h3>
                        <p>Insert, Update, Delete Feedbacks </p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 align-items-center my-2">
                <a href="{{url_for('allServices')}}" class="border p-3 rounded d-flex align-content-around d-block">
                    <i class="icofont icofont-3x icofont-workers-group icofont-pull-left text-secondary pt-2"></i>
                    <div class="pl-4">
                        <h3 class="h4">Service Request</h3>
                        <p>Manage service requests here, add remark, update status </p>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-4 align-items-center my-2">
                <a href="{{url_for('contact')}}" class="border p-3 rounded d-flex align-content-around d-block">
                    <i class="icofont icofont-2x icofont-contacts icofont-pull-left text-secondary pt-2"></i>
                    <div class="pl-4">
                        <h3 class="h4">Contacts</h3>
                        <p>Insert, update, delete contacts </p>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-4 align-items-center my-2">
                <a href="" class="border p-3 rounded d-flex align-content-around d-block">
                    <i class="icofont icofont-2x icofont-money icofont-pull-left text-info pt-3"></i>
                    <div class="pl-4">
                        <h3 class="h4">Payment</h3>
                        <p>Payments review here </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}