<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap style -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/project.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='font/HabaneraRounded-Black/style.css')}}">
</head>

<body>

    <nav class="navbar navbar-expand-lg  shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('index')}}">AD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('project')}}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Feedbacks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">FAQ</a>
                    </li>
                </ul>
                <ul class="navbar-nav  mb-2 mb-lg-0">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('account')}}">
                            account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}">
                            logout
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('register')}}">
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login')}}">
                            Login
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% with messages= get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row py-2">
        <div class="mx-auto col-sm-6">
            {% for category, message in messages %}
            <div>
                <p class="p-2 alert alert-{{ category }}"><b>{{ message }}</b></p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock content %}



    <footer class="border-top bg-light">
        <div class=" container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3 text-center">
                    <div>
                        <p><b class=" secondary_color"> &copy; </b> Alluring Decoration | Terms | Aptech Final Year
                            Project </p>
                        <p>Design by <b class="secondary_color">Umaru Sadiq </b>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>