{% extends 'base.html' %} {% block content %}
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 py-2 py-md-4 pr-0 pr-md-2">
                <p>Interior & Exterior </p>
                <h1 class="pl-0 ml-0" style="text-transform:uppercase;">Alluring Decoration, for your Designs.</h1>
                <p class="pt-2">
                    Our interiors are an insight into our brains. It is a collaboration of
                    design, art, humor, irony, functionality, and the street.
                </p>
                {% if current_user.is_authenticated %}
                <p class="pt-4">
                    <a href="{{url_for('ServiceRequest')}}"
                        class="d-grid col-12 col-md-6 shadow btn btn-lg btn-block btn-info rounded-pill">
                        Request Service
                    </a>
                </p>
                {% else %}
                <p class="pt-2 pt-md-4">
                    <a href="{{url_for('login')}}"
                        class="d-grid col-12 col-md-6 shadow btn btn-lg btn-block btn-info rounded-pill">
                        Request Service
                    </a>
                </p>
                {% endif %}
            </div>

            <div class="col-12 col-md-6">
                <div>
                    <img src="{{url_for('static',
        filename='images/undraw_creative_team_r90h.svg')}}" class="img-fluid hero-img" />
                </div>
            </div>
        </div>
    </div>
</header>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-7 mx-auto text-center">
                <h2>OUR SERVICES</h1>
                    <p>
                        Aliqua dolore ex dolor occaecat consectetur deserunt culpa cupidatat
                        non occaecat occaecat culpa consequat minim. Magna proident aute
                        exercitation sunt non.
                    </p>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12 col-sm-3 my-2">
                <a class="shadow-sm service " href="{{url_for('home_decor')}}" >
                    <img src="{{url_for('static',filename='images/house1.jpg')}}" alt="" class="img-fluid" />
                    <div class="p-3">
                        <small class="secondary_color">Interior & Exterior Designs </small>
                        <h3 class="pt-2 pb-4">House Decoration</h3>
                    </div>
                </a>
            </div>

            <div class="col-12 col-sm-3 my-2">
                <a class="shadow-sm service" href="{{url_for('office_decor')}}">
                    <img src="{{url_for('static',filename='images/office1.jpg')}}" alt="" class="img-fluid" />
                    <div class="p-3">
                        <small class="secondary_color">Decoration & Furnishing </small>
                        <h3 class="pt-2 pb-4">Office Decoration</h3>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-3 my-2">
                <a class="shadow-sm service" href="{{url_for('banquet_decor')}}" >
                    <img src="{{url_for('static',filename='images/hall1.jpg')}}" alt="" class="img-fluid" />
                    <div class="p-3">
                        <small class="secondary_color">Banquet, & Parties </small>
                        <h3 class="pt-2 pb-4">Banquet Hall </h3>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-3 my-2">
                <a class="shadow-sm service" href="{{url_for('restaurant_decor')}}">
                    <img src="{{url_for('static',filename='images/restaurant1.jpg')}}" alt="" class="img-fluid" />
                    <div class="p-3">
                        <small class="secondary_color">Decorating & Furnsihing </small>
                        <h3 class="pt-2 pb-4">Restaurant Decor</h3>
                    </div>
                </a>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-12 col-sm-8 mx-auto pt-3">
            {% if current_user.is_authenticated %}
                <a href="{{url_for('ServiceRequest')}}" class=" d-grid col-12 col-md-6 mx-auto">
                    <button class="btn btn-lg btn-block btn-info rounded-pill"> Request Service Now </button>
                </a>
            {% else %}
                <a href="{{url_for('login')}}" class=" d-grid col-12 col-md-6 mx-auto">
                    <button class="btn btn-lg btn-block btn-info rounded-pill"> Request Service Now </button>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</section>

<section id="ongoing-project" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div>
                    <img src="{{url_for('static',filename='images/project1.jpg')}}" alt=""
                        class="img-fluid shadow-lg" />
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="p-5">
                    <h4>
                        On Going Project, We make our Clients Smile.
                    </h4>
                    <p class="pt-2 pb-4">
                        Cillum eu ex aute magna amet exercitation ut ex.
                        Ad eiusmod officia velit quis laboris qui Lorem laboris exercitation adipisicing.
                        Sunt elit velit ad aute elit sunt sunt sint adipisicing reprehenderit.
                        Ipsum aute fugiat qui velit irure tempor.
                    </p>
                    <div>
                        <a href="{{url_for('project')}}"
                            class=" d-grid col-12 col-md-6 shadow btn btn-lg btn-block btn-info rounded-pill">
                            View Projects
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}