{% extends 'base.html' %}


{% block content %}
<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-7">
                <div>
                    <h4>
                        Alluring Decorations, Office Decoration.
                    </h4>

                    <h5 class="py-3">Domain of Services </h5>
                    <div class="d-flex flex-row align-content-around w-100">
                        <span class="p-3 bg-light rounded-pill"><b>Furniture And Glass</b> </span>
                        <span class="p-3 bg-light rounded-pill"><b>Flooring Layout</b></span>
                        <span class="p-3 bg-light rounded-pill"><b>Lightning Effects</b> </span>
                    </div>
                    <div class="d-flex flex-row align-content-around pt-3">
                        <span class="p-3 bg-light rounded-pill"><b>Window Coverings</b></span>
                        <span class="p-3 bg-light rounded-pill"><b>Flooring Layout</b></span>
                        <span class="p-3 bg-light rounded-pill"><b>Colour Schemes</b> </span>
                    </div>
                    <div class="d-flex flex-row align-content-around pt-3">
                        <span class="p-3 bg-light rounded-pill"><b>Curtain Designing</b></span>
                        <span class="p-3 bg-light rounded-pill"><b>Architectural design</b></span>
                        <span class="p-3 bg-light rounded-pill"><b>Planting</b></span>

                    </div>
                    <div class="d-flex flex-row align-content-around py-3">
                        <span class="p-3 bg-light rounded-pill"><b>Seating Alignment</b></span>
                    </div>

                    <div class="pt-3">
                        {% if current_user.is_authenticated %}
                        <a href="{{url_for('ServiceRequest')}}" class=" d-grid col-12 col-md-6">
                            <button class="btn btn-lg btn-block btn-info rounded-pill"> Request Service</button>
                        </a>
                        {% else %}
                        <a href="{{url_for('login')}}" class=" d-grid col-12 col-md-6">
                            <button class="btn btn-lg btn-block btn-info rounded-pill"> Request Service</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div>
                    <img src="{{url_for('static',filename='images/office1.jpg')}}" alt="" class="img-fluid shadow-lg" />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}